<!doctype html>
<html>
<head>
	<title>NETFLIX EXPERT</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	
	
	 <!-- LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="grid.css">
	
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <ul class="nav-menu">
        <div class="topofpage">
            <li><a href="index.html"><img src="img/logo.png" alt="logo" class="logo_img"/></a></li>
            <li><a href="#" class="navhere">HOME</a></li>
            <li><a href="#">SHOWS</a></li>
            <li><a href="#">MOVIES</a></li>
            <li><a href="#">RECOMMENDATIONS</a></li>
            <li><a href="#">FAVORITES</a></li>
            <li><a href="#"><img src="img/search.png" alt="search" class="search_img"/></a></li>
        </div>
    </ul>
</div>

<!-- CONTENT -->	
    <div class="page">
<div class="container">
        
   
        <!-- another row --> 
        <div class="row">
            <div class="col-7">
                <div class="hero_content">
                    <img src="img/pic1.jpg" alt="BCS"/>
                    <p class="hero_text_headline">
                    THIS EMMY-NOMINATED PREQUEL TO BREAKING BAD FOLLOWS SMALL-TIME ATTORNEY JIMMY MCGILL AS HE TRANSFORMS INTO MORALLY CHALLENGED LAWYER SAUL GOODMAN.
                    </p>
					<br>
                    <p>
                    Before Saul Goodman, he was Jimmy McGill. And if you're calling Jimmy, you're in real trouble. The prequel to "Breaking Bad" follows small-time attorney, Jimmy McGill, as he transforms into Walter White's morally challenged lawyer, Saul Goodman.
                    </p>
                </div>
            </div>
			
			
            <div class="col-5">
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/pic2.jpg" />
                    <span class="section">THE QUEEN'S GAMBIT</span></br>
                    Orphaned at the tender age of nine, prodigious introvert Beth Harmon discovers and masters the game of chess in 1960s USA. 
				    But child stardom comes at a price.

                </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/pic3.jpg" />
                    <span class="section">BROOKLYN NINE-NINE</span></br>
                    Comedy series following the exploits of Detective Jake Peralta and his diverse, lovable colleagues as they police the NYPD's 99th Precinct.

                </div>
                <!--SIDE BAR END -->	
	
	
	
	</div>

<div class="outer">
	

</div>
<!--Basic Template-->

</body>
</html>
