
body{
  background-color: black;
  padding:0;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
}

.outer{
   text-align: center;
   padding:20px;
}

.page{
   width:1200px;
   height:99vh;
   display: inline-block;
   text-align:center;
   padding:10px;
   background-color: white;
	margin-top: 10px;
}

.topofpage{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	height:100px;
}

.navbar{
	background-color: white;
	flex-grow: 1;
		
}
.logo{
max-width: 200px;	
}

.logo_img{
width: 50%;	
}


.search{
	margin-left: auto;
	max-width: 150px;
	margin-top: 20px;
}

.search_img{
	width: 50%
}
a{
  color:black;
  font-size:15px;
  font-weight: bold;
  text-decoration: none;
  margin-right:50px;
}

a:hover {
  color:red;  
 }
  a:active {
  color:#CCC;
	  
	  a:
}
.nav{
  font-family: sans-serif;
   margin-left:10px;
   margin-top:10px;
   text-align: right;
}

.content{
	font-family: sans-serif;
    font-size: 12px;
    color: #8c8d85;
	text-align: center;
	margin-left:50px;
}
.headline{
	  font-family: sans-serif;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
	  text-align: center
      color: #8c8d85;


    }
.navhere{
	color:#8c8d85
}
.subhead{
	  font-family: sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-transform: uppercase;
      color: #8c8d85;
	
	
	  